//
//  Development.xcconfig
//  CourseApp
//
//  Created by Marcel Mravec on 08.05.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_BUNDLE_NAME = "CourseApp Dev"
APP_BUNDLE_IDENTIFIER = "com.marcel.CourseApp.Development"
API_JOKES_BASE_URL = "https:/$()/api.chucknorris.io"
API_IMAGES_BASE_URL = "https:/$()/"
